.aboutme-container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
}

.img-container {
    height: 50vh;
    overflow: hidden;
    padding: 48px;
    background-image: url(../img/Profile.jpg);
    background-position: 0 0;
    background-size: 100% auto;
    background-repeat: no-repeat;
    box-sizing: border-box;
    background-origin: content-box;
}

.img-container > img {
    object-fit: contain;
    height: auto;
    max-width: 100%;
    margin-right: auto;
    display: block;
    transition: .5s ease-in-out;
}

.img-container > .profile02 {
    opacity: 0;
}

.img-container:hover > .profile02 {
    opacity: 1;
}

.txt-container {
    padding: 16px;
}

.txt-container > h5 {
    font-family: 'Work Sans', sans-serif;
    font-size: 12.8px;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    font-weight: 500;
    color: rgb(176, 176, 176);
    margin-bottom: 0px;
}

.txt-container > p{
    font-size: 14.4px;
    margin-top: 10px;
    line-height: 16.8px;
}

.aboutme-links {
    padding: 0px 32px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
.aboutme-links > a {
    color: #2f3b44;
    border: 1px solid #2f3b44;
    border-radius: 50%;
    padding: 5px;
    width: 30px;
    height: 30px;
    margin: 15px;
    text-decoration: none;
}

.aboutme-links > a:hover {
    color: rgb(231, 79, 76);
    border: 1px solid rgb(231, 79, 76);
    text-decoration: none;
}

.aboutme-links svg{
    transform: translate(4.5px, 5px);
}

.divider {
    height: 30px;
    border-bottom: 1px solid rgb(216, 216, 216);
    margin-left: 20px;
    margin-right: 20px;
}

.resume-container {
    margin: auto;
    padding: 48px;
}

.resume-container > a{
    margin: auto;
    background-color: #2f3b44;
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: 14.4px;
    font-weight: 400;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
}

.resume-container > a:hover{
    
    background-color: transparent;
    color: #2f3b44;
    border: 1px solid #2f3b44;
}


/* TOOLTIPS */

.am-tooltip {
    position: relative;
    display: inline-block;
  }
  
  .am-tooltip .am-tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: #4e606d;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 8px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
    font-size: 12.8px;
  }
  
  .am-tooltip .am-tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #4e606d transparent transparent transparent;
  }
  
  .am-tooltip:hover .am-tooltiptext {
    visibility: visible;
  }

  @media screen and (min-width: 60em) {
    .aboutme-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto 1fr;
        padding: 16px;
    }

    .txt-container {
        grid-row-start: 1;
    }

    .img-container {
        grid-column-start: 2;
        height: 80vh;
    }

    .divider {
        grid-column: 1/ span 2;
    }

    .resume-container {
        grid-column-start: 2;
    }

    .aboutme-links {
        grid-column-start: 1;
        grid-row-start: 3;
        margin-top: 32px;
    }
  }

  @media screen and (min-width: 90em) {
    .divider {
        display: none;
    }

    .aboutme-container {
        grid-template-rows: 4fr 1fr;
    }

    .img-container {
        padding: 8em;
        padding-top: 4em;
        grid-column: 2;
        grid-row: 1/span 2;
        height: 100vh;
        display: block; 
    }
    .img-container > img {
        margin-top: 0;
        display:table-cell;
	    vertical-align: top;
    }

    .txt-container {
        padding: 80px;
    }

    .txt-container > p {
        font-size: 16px;
        margin-top: 10px;
        line-height: 24px;
    }

    .aboutme-links {
        grid-column-start: 1;
        grid-row-start: 2;
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

    .aboutme-links > a {
        margin-top: 0;
    }

    .resume-container {
        grid-column-start: 2;
        grid-row-start: 2;
        margin-top: 0;
        padding-top: 0;
    }
  }

  @media screen and (min-width: 100em) {
    .divider {
        display: none;
    }

    .aboutme-container {
        grid-template-rows: 2fr 100px 1fr;
    }

    .txt-container {
        padding: 128px;
        padding-bottom: 0;
    }

    .img-container {
        height: 80vh;
        padding: 5em;
        max-width: 40vw;
    }

    .resume-container {
        grid-column-start: 1;
        grid-row-start: 3;
    }

  }