body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Body styling */

body {
  background-color: #f8f9fA;
}

#root {
  width: 100vw;
}

@font-face {
  font-family: 'GTSectra';
  src: local('GTSectra'), url(../fonts/GT-Sectra-Fine-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Noe-Bold';
  src: local('Noe-Bold'), url(../fonts/Noe-Display-Bold.ttf) format('truetype');
}

h1, h2, h3, h4, h5, h6 {
  font-family: Noe-Bold;
  color: #2f3b44;
}

h1 {
  font-size: 4.75rem;
  margin-bottom: 1.25rem;
  
}

h2 {

}

h3 {
  font-family: 'Noe-Bold', sans-serif;
  font-size: 1.75rem;
  font-weight: 600;
  color: rgb(176, 176, 176);
}

h4 {
  font-family: 'Work Sans', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: rgb(176, 176, 176);
}
p, a {
  font-family: 'Work Sans', sans-serif;
  color: rgb(176, 176, 176);
}


.links-container .link-item {
  transition: background-size .3s ease-in-out;
  background: linear-gradient(to bottom, transparent 50%, rgba(231, 79, 76, 0.797) 0) left center/0% 100% no-repeat;
  background-position-y: -3px;
  padding: 0px 0px 0px 0px;
  cursor: pointer;
}

.links-container .link-item:hover{
  background-size: 100% 100%;
  color: #2f3b44;
}

