/* 
  TopNav styling
*/

.topnav-container {
    background-color: white;
    width: 100vw;
    height: 80px;
    display: flex;
    flex-direction: row;
    top: 0;
    grid-column-start: 1/span 2;
  }
  
  .logo-container {
    display: flex;
    flex: 1;
    /* border: 1px solid red; */
    justify-content: flex-start;
    align-items: center;
  }

  .main-logo {
    height: 100%;
    width: 150px;
    margin-left: 1rem;
    content: url(../img/Colin-Branding-04.svg);
  }

  @media screen and (max-width: 40em){
    .main-logo {
      content: url(../img/Colin-Branding-05.svg);
      width: 90%;
      background-repeat: no-repeat;
    }
  }


  .link-item {
    margin-right: 2rem;
    color: rgb(171, 171, 171);
    text-decoration: none;
    font-size: .8rem;
  }
    
  .links-container {
    display: flex;
    flex: 3;
    /* border: 1px solid blue; */
    justify-content: flex-end;
    align-items: center;
  }


  @media screen and (min-width: 60em) {
    .main-logo {
      width: 220px;
      margin-left: 3.5vw;
    }
    .link-item {
      margin-right: 5rem;
      font-size: 1rem;
    }
  }

  
  


/* 
  SideNav styling
*/
@media screen and (min-width: 60em) {
  

.sidenav-container {
  z-index: 1000;
    background-color: transparent;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: sticky;
    position: -webkit-sticky;
    top: 40%;
  }
  
  .sidenav-links-container {
    display: flex;
    flex-direction: column;
    position: sticky;
    position: -webkit-sticky;
    top: 42%;
  }
  
  .sidenav-container a{
    padding: .7rem;
    align-self: center;
  }

  .sidenav-container a:hover {
    color: rgb(231, 79, 76);
    cursor: pointer;
  }
  
  /* .currentLink {
    background: linear-gradient(to bottom, transparent 10%, rgba(231, 79, 76, 0.797) 0) left center/0% 20% no-repeat !important;
    padding: 0px 0px 0px 0px !important;
    cursor: pointer !important;
    background-size: 100% 60% !important;
    color: #2f3b44;
} */

}