/* 
  TopNav styling
*/

.topnav-container {
    background-color: white;
    height: 80px;
    display: flex;
    flex-direction: row;
    /* position: sticky; */
    top: 0;
  }
  
  .logo-container {
    display: flex;
    flex: 1;
    /* border: 1px solid red; */
    justify-content: flex-start;
    align-items: center;
  }
  
  .main-logo {
    width: 220px;
    margin-left: 4.1rem;
  }
  
  .links-container {
    display: flex;
    flex: 3;
    /* border: 1px solid blue; */
    justify-content: flex-end;
    align-items: center;
  }
  
  .link-item {
    color: rgb(171, 171, 171);
    text-decoration: none;
    margin-right: 5rem;
  }


/* 
  SideNav styling
*/

.sidenav-container {
    float: right;
    background-color: transparent;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: sticky;
    position: -webkit-sticky;
    top: 50%;
  }
  
  .sidenav-links-container {
    display: flex;
    flex-direction: column;
    /* position: sticky;
    position: -webkit-sticky;
    top: 50%; */
  }
  
  .sidenav-container a{
    padding: .7rem;
    align-self: center;
  }
  