.regulate-container {
    /* background-color: #2f3b44; */
    display: block;
    height: 100vh;
    margin-top: 2rem;
  }
  
  .regulate-inner-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap-reverse;
      padding: 4rem 4rem 4rem 4rem;
  }

  .regulate-txt-container {
    display: block;
    width: 50%;
  }
  
  .regulate-img-container {
    display: block;
    width: 50%;
    overflow: hidden;
  }
  
  .regulate-img-container > img {
    object-fit: contain;
    margin: auto;
    width: 100% !important;
    height: auto !important;
    position: static !important;
  }
  
  
  .regulate-actual-txt-container {
    width: 60%;
    height: 70%;
    margin: auto;
    display: block;
  }
  
  #regulate-logo {
    align-self: center;
    width: 16rem;
  }
  
  #regulate-title {
    font-weight: 600;
    font-size: 1.25rem;
    padding-top: 20px;
  }
  
  #regulate-text {
    line-height: 2rem;
    padding-bottom: 20px;
  }

  .regulate-txt-container a {
    transition: background-size .3s ease-in-out;
    background: linear-gradient(to bottom, transparent 50%, rgba(231, 79, 76, 0.797) 0) left center/0% 100% no-repeat;
    background-position-y: -3px;
    padding: 0px 0px 0px 0px;
    cursor: pointer;
    color: #2f3b44;
  }
  
  .regulate-txt-container a:hover {
    background-size: 100% 100%;
    color: #2f3b44;
  }
  

