.project-container {
  /* background-color: #2f3b44; */
  display: block;
  min-height: 100vh;
  margin-top: 2;
  padding: 0px;
  box-sizing: border-box;
}

.project-inner-container {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  box-sizing: border-box;
}

.project-img-container {
  grid-row-start: 1;
  height: 50vh;
  overflow: hidden;
  margin-bottom: 0px;
  box-sizing: border-box;
}

.project-img-container > img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.project-txt-container {
  margin-top: 0px;
  display: block;
  box-sizing: border-box;
}
  
.project-actual-txt-container {
  width: 90vw;
  margin: auto;
  margin-top: 6vh;
  display: block;
  box-sizing: border-box;
}

.project-logo {
  align-self: center;
  /* width: 16rem; */
  width: 8rem;
}

.project-title {
  font-weight: 600;
  font-size: 1rem;
  padding-top: 20px;
}

.project-text {
  font-size: 1rem;
  line-height: 1.5rem;
  padding-bottom: 20px;
}

.project-txt-container a {
  transition: background-size .3s ease-in-out;
  background: linear-gradient(to bottom, transparent 50%, rgba(231, 79, 76, 0.797) 0) left center/0% 100% no-repeat;
  background-position-y: -3px;
  padding: 0px 0px 0px 0px;
  cursor: pointer;
  color: #2f3b44;
  text-decoration: none;
}

.project-txt-container a:hover {
  background-size: 100% 100%;
  color: #2f3b44;
}



@media screen and (min-width: 60em) {
  .project-container {
    margin-top: 20vh;
  }

  .project-inner-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    height: 100%;
    padding: 1rem;
  }

  .project-txt-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-row-start: 1;
    height: 100%;
    margin: auto;
  }

  .project-actual-txt-container {
    margin: auto;
    /* margin-top: 6vh; */
    display: block;
    width: 100%;
    padding: 1.5rem;
  }

  .project-img-container {
    display: flex;
    overflow: hidden;
    justify-content: center;
    height: 100%;
  }

  .project-img-container > img{
    object-fit: cover;
    width: 100%;
  }

  .project-logo {
    align-self: center;
    width: 8rem;
  }
  
  .project-title {
    font-weight: 600;
    font-size: 1rem;
    padding-top: 20px;
  }
  
  .project-text {
    font-size: .8rem;
    line-height: 1.5rem;
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 100em) {
  .project-container {
    height: 100vh;
  }
  .project-inner-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    height: 100%;
    padding: 3rem;
  }

  .project-txt-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-row-start: 1;
    height: 100%;
    margin: auto;
  }

  .project-actual-txt-container {
        margin: auto;
    /* margin-top: 6vh; */
    display: block;
    padding: 7rem;
  }

  .project-img-container {
    display: flex;
    overflow: hidden;
    justify-content: center;
    height: 100%;
  }

  .project-img-container > img{
    object-fit: cover;
    width: 100%;
  }

  .project-logo {
    align-self: center;
    width: 12rem;
  }
  
  .project-title {
    font-weight: 600;
    font-size: 1.25rem;
    padding-top: 20px;
  }
  
  .project-text {
    line-height: 1.5rem;
    padding-bottom: 20px;
    font-size: 1rem;
  }
}

/* TOOLTIPS */

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: #4e606db3;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 8px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  font-size: .8rem;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #4e606db3 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}