.techicon {
    margin-top: 40px;
    color: #2f3b44;
    font-size: 1.5rem;
    padding: 10px;
  }
  
  .techicon:hover {
    transform: scale(1.5);
    transition: .3s ease-in-out;
  }
  
  .techicon:nth-child(1) {
    padding-left: 0px;
  }