.techstack-container {
    padding-top: 8vh;
    padding-bottom: 8vh;
    display: flex;
    flex-direction: column;
    /* margin-bottom: 10vh; */
    background-color: rgb(245, 245, 245);
}

.ts-title {
    display: flex;
    justify-content: center;
}

.ts-logos {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* column-gap: .5rem; */
    padding-left: 1em;
    padding-right: 1em;
}

.ts-logos-item {
    padding: 1rem;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
}

.ts-logos-item > img {
    width: 50px;
    align-self: center;
    justify-self: center;
}

.ts-logos-item > p {
    font-size: .8rem;
}

.ts-divider {
    height: 30px;
    border-style: none;
    border-bottom: 1px solid rgb(216, 216, 216);
    margin-left: 20px;
    margin-right: 20px;
}

@media screen and (min-width: 100em) {
    .ts-logos {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        padding-left: 3em;
        padding-right: 3em;
    }

    .ts-logos-item {
        padding: 5rem;
        padding-left: 3rem;
        padding-right: 3rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-content: center;
    }

    .ts-logos-item > img {
        width: 70px;
        align-self: center;
        justify-self: center;
    }

    .ts-divider {
        height: 30px;
        border-style: none;
        border-bottom: 1px solid rgb(216, 216, 216);
        margin-left: 60px;
        margin-right: 60px;
    }
}